<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Lucky Spring</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" >
  <link rel="stylesheet" href=" {{ static_url('css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ prefix }}{{ static_url('css/main.css') }}">
</head>
  <body class="bg-fixed bg-1">
   <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    Lucky Spring 
                </h2>
                <h4>
                    程序员思考人生 
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="/index"><i class="icon-user"></i><span>首页</span></a>
                </li>
                <li class='tab'>
                  <a href="blog"><i class="icon-file-text"></i><span>博客</span></a>
                </li>
                <li class='tab'>
                  <a href="photo"><i class="icon-heart"></i><span>照片</span></a>
                </li>
                <li class='tab'>
                  <a href="program"><i class="icon-book"></i><span>项目</span></a>
                </li>
                <li class='tab'>
                  <a href="read"><i class="icon-glass"></i><span>每日必读</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="index">
                    懒惰了这么久，终于下定决心写点东西来记录一下自己的学习，生活什么的。
                </div>

              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="blog">
                    <section class="clearfix">
                    </section>
                </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <p>
                copyright@soluckyspring 2014
            </p>
        </footer>
    </div><!-- #main -->
</div><!-- #main-container -->



</body>
</html>
