<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Lucky spring</title>
<meta name="keywords" content="easyautumn,lucky spring,博客" />
<meta name="description" content="Lucky个人博客" />
<link href="{{ prefix }}{{ static_url('css/base.css') }}" rel="stylesheet">
<link href="{{ prefix }}{{ static_url('css/index.css') }}" rel="stylesheet">
<link href="{{ prefix }}{{ static_url('css/media.css') }}" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
    <header>
        <h1>雨润无声</h1>
        <h2>关于生活，关于工作，关于我，无声无息...</h2>
        <div class="logo"><a href="/index"></a></div>
        <nav id="topnav">
            <a href="/index">首页</a>
            <a href="/about">关于我</a>
            <a href="/newlist">慢生活</a>
            <a href="/share">模板分享</a>
            <a href="/new">模板主题</a>
            </nav>
    </header>
    {% block middle_body %}
    {% end %}

    <aside>
    <div class="avatar"><a href="/about"><span>关于博主</span></a></div>
    <div class="topspaceinfo">
      <h1>生活与学习，工作与成长</h1>
      <p>选择了就无怨无悔，坚持下去才能得到绽放....</p>
    </div>
    <div class="about_c">
      <p>博名：Lucky spring</p>
      <p>职业：程序员 </p>
      <p>邮箱：soluckyspring@gmail.com</p>
    </div>
    <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
    <div class="tj_news">
      <h2>
        <p class="tj_t1">最新文章</p>
      </h2>
      <ul>
        <li><a href="/blog/01">开篇</li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
      </ul>
      <h2>
        <p class="tj_t2">推荐文章</p>
      </h2>
      <ul>
        <li><a href="/blog/01">开篇</li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
        <li><a href="/blog/02">排序算法</a></li>
      </ul>
    </div>
    <div class="links">
      <h2>
        <p>友情链接</p>
      </h2>
      <ul>
        <li><a href="/index">个人博客</a></li>
        <li><a href="http://coolshell.cn/">酷壳</a></li>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> copyright@soluckyspring 2014</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>


