{% extends "base.html" %}
{% block middle_body %}
<article>
    <div class="banner">
    <ul class="texts">
        <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
        <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
    </ul>
    </div>
    <div class="bloglist">
        <h2>
            <p><span>博客</span></p>
        </h2>

        <div class="blogs">
            <h3><a href="/blog/first">开篇</a></h3>
            <figure>
                <img src="{{ prefix }}{{ static_url('images/01.jpg') }}" >
            </figure>
            <p>懒惰了这么久，终于下定决心写点东西来记录一下自己的学习，生活什么的。 坚持下去才是胜利...</p>
            <ul>
                <a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor">
                <span>作者：spring</span>
                <span>分类：生活日记</span><span>
            </p>
            <div class="dateview">2014-09-28</div>
        </div>

        <div class="blogs">
            <h3><a href="/blog/first">排序算法</a></h3>
            <figure><img src="images/01.jpg" ></figure>
            <p>懒惰了这么久，终于下定决心写点东西来记录一下自己的学习，生活什么的。 坚持下去才是胜利...</p>
            <ul>
                <a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor">
                <span>作者：spring</span>
                <span>分类：生活日记</span><span>
            </p>
            <div class="dateview">2014-09-28</div>
        </div>

    </div>
    </article>
    {% end %}    
